@model Su_Project.Models.User
@{
    ViewData["Title"] = "Create";
    Layout = "";
}

<link rel="stylesheet" href="~/css/loginstyle.css" type="text/css" media="all" />

<main>
    <!-- form section start -->
    <section class="w3l-workinghny-form">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="wrapper">
                <div class="logo">
                </div>
                <div class="workinghny-block-grid">
                    <div class="form-right-inf">
                        <div class="login-form-content">
                            <h2>Đăng kí</h2>
                            <form action="Create" class="signin-form" method="post">
                                <div class="one-frm">
                                    <input type="text" name="AccountName" placeholder="Tên đăng nhập" required="" autofocus>
                                </div>
                                <div class="one-frm">
                                    <input type="password" name="Password" placeholder="Mật khẩu" required="">
                                </div>
                                @*<div class="one-frm">
                                    <input type="password" name="Password" placeholder="Nhập lại mật khẩu" required="">
                                </div>*@
                                <div class="one-frm">
                                    <input type="text" name="FullName" placeholder="Họ và tên" required="">
                                </div>
                                <div class="one-frm">
                                    <input type="text" name="Email" placeholder="Email" required="">
                                </div>
                                <div class="one-frm">
                                    <input type="text" name="Phone" placeholder="Số điện thoại" required="">
                                </div>
                                <div class="one-frm">
                                    <input type="text" name="FaceBook" placeholder="FaceBook" required="">
                                </div>
                                <div class="one-frm">
                                    <input type="text" name="Website" placeholder="Website" required="">
                                </div>
                                <button class="btn btn-style mt-3" action="submit">Đăng kí</button>
                                <a asp-controller="Security" asp-action="Login">Đăng nhập</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </section>
    <!-- //form section start -->
</main>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
