body {
}
.right-flex{
    justify-content: flex-end;
}
.flex-grow-2{
    flex-grow:2!important;
}
.space-rpadding-5{
    padding-right: 5px;
}
.bg-nav-2 {
    background-color: #00e5ff;
}
nav .bg-nav-1 {
    background-color: #007bff;
}